@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

.custom-truncate {
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}




/* map css */
.state {
    fill: #979797;
    stroke: #ffffff;
    stroke-width: 1.4;
    stroke-linejoin: round;
  }


  #labels {
    fill: #ffffff;
  }



  /* text color of the states that don't fit on the state area */
  .state-text-color{
    fill: #979797
  }
  
  .state:hover {
    fill: #F89735;
  }
  
  
  
  .label {
    fill: #ffffff; /* Default text color */
  }
  
  .state-group:hover .label {
    fill: #000000; /* Text hover color */
  }

  .PUCButton {
    background: linear-gradient(270.06deg, #F89735 -0.08%, #FFD00F 98.66%);
  }
  











